body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

html{ overflow-y: scroll;}

.my-progress-bar
{
  position: absolute;
  top: 77%;
  left: 87%;
  transform: translate(-50%,-50%);
}

.progress-percentage
{
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translate(-53%,-50%);
  font-size: 35px;
}

.file-well .my-progress-bar canvas {

  height: 170px;
  width: 170px;
}

.scanbox{
  height: 150px;
  width: 30%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-right: 1em;
}

.result{
  height: 170px;
  width: 92.75%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 1.5em;

}

hr.star-light,
hr.star-dark,
hr.star-star {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after,
hr.star-star:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #42a5f5;
}

hr.star-dark {
  border-color: #fff;
}

hr.star-dark:after {
  color: #fff;
  background-color: #2C3E50;
}

hr.star-star {
  border-color: #2C3E50;
}

hr.star-star:after {
  color: #2C3E50;
  background-color: #fff;
}

section {
  padding: 2rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.container .box .chart{

  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  line-height: 110px;

}

.container .box canvas {

  position: absolute;
  top: 0;
  left: 0;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #007bff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #18BC9C;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #007bff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #007bff;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

section.masthead {
  padding-top: 10.2%;
  padding-bottom: 9.1%;
}

header.masthead h1 {
  font-size: 2rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
section.masthead {
  padding-top: 2.9%;
  padding-bottom: 10.1%;
}
  header.masthead h1 {
    font-size: 3.55em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(24, 188, 156, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #18BC9C;
}

a:focus, a:hover, a:active {
  color: #128f76;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #42a5f5 !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #333 !important;
}

.text-secondary {
  color: #333 !important;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #333;
  border-color: #333;
}

.btn-secondary {
  background-color: #333;
  border-color: #333;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #333;
  border-color: #333;
}


.file-well {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 240px;
    width: 75%;
}

.file-well i{
  color: #D3D3D3;
}


.file-wells {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 114px;
    width: 100%;
}

.files{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #fff;
    height: 240px;
    width: 110%;
}

hr {
    border: none;
    height: 2px;
    color: #D3D3D3;
    background-color: #D3D3D3;
}
.files hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

#upload_link{
    text-decoration:none;
}
#upload{
    display:none
}
.collapsing {
  transition: none !important;
}



.files button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.files button:hover {background-color: #e7e7e7;}
}

.file-well button{
 background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.bts {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}


#premium input {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #42a5f5;
  width: 60%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
    margin-left: 25px;
}

#premium input:hover {background-color: #337ab7;}

.modal-body label{
    margin: 15px;
}


#mybtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #42a5f5;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  width: 30%;
}

#mybtn:hover {
    background-color: #337ab7;
}



header.masthead {
  padding-top: 11.2%;
  padding-bottom: 7.1%;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ttext{
    margin-left: 190px;
}
#space {
      padding-bottom: 9.1%;
}


