{% extends 'admin/base.html' %}
{% block body %}
{{ super() }}
<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Plagiarism Finder</h1>
            <p class="lead">
                 Admin Control Panel
            </p>
            <div class="col-md-2">
                <div class="color-swatches">
                    <div class="clearfix">
                        <div class="upload-btn-wrapper">
                            <a href="/Users" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 10px;">User Management</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color-swatches">
                    <div class="clearfix">
                        <div class="upload-btn-wrapper">
                            <a href="/Files" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 10px;">File Management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
