{% extends 'base.html' %}
{{ super() }}

{% block body %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
 <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../static/img/logo1.png"> PLAGIARISM FINDER</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
    </nav>  
    <!-- Scan Grid Section -->
<section class="masthead" style="padding-bottom: 3%;">
    <div class="container">
    <div class="masthead">
    <div class="row">
<div class="col-2"></div>        
        <div class="col-8">
            <h4 style="margin-right: 30%">Reset Password:</h4>
        </div>
        <div class="col-2"></div>
        <div class="col-3"></div>
<div class="col-6">
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
 <h6>{{ render_field(form.new_password, tabindex=10) }}</h6>
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
 <h6 style="margin-top: 5%;">{{ render_field(form.retype_password, tabindex=20) }}</h6>
    {% endif %}
    <input type="submit" class="fgt" value="Change Password" style="margin-top: 0.5%;">
</form>
    </div>
        <div class="col-3"></div>
    </div>
    </div>
        </div>
    </section>

{% endblock %}
