{% extends "login.html" %}
{% block title %}COPY!NOT{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="wrapper row1">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <h1>Welcome to COPY!NOT!</h1>
   
    <p>This project is intended for the use of National College of Science and Technology, it offers plagiarism detection capability to prevent accidental similar content.</p>
    <p>Currently the project is still in 40 percent, it lacks  alot of features and more to be added soon. Only Windows Document(.docx) files are supported.</p>
	<p>This project is running under Python programming language and their web framework, Flask.</p>
</div>
{% endblock %}