<!DOCTYPE html>
<html>
<title>Thesis Project - Plagiarism Finder</title>
<head>
{% block head %}
<link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--icon css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body id="page-top">
{% block body %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../static/img/ncst.png"> Plagiarism Finder</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
    {% if call_or_get(current_user.is_authenticated) %}
            <li class="nav-item mx-0 mx-lg-1">
                <a href="{{url_for('listahan')}}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">{{ current_user.username or current_user.email }}</a>
              </li>
             <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for ( 'testpage' ) }}">Scan</a>
            </li>
        <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}" style="cursor: default; color:#fff">Sign out</a>
    {% else %}
               <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="modal" data-target="#login" style="cursor: default; color:#fff">Sign In</a>
              {% endif %}
        </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block modalform %}
{% endblock %}
  <!-- header-->
{% block contenters %}
      <header class="masthead bg-primary text-white">
      <div class="container">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }} <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}
          <div class="text-center">
        <h1 class="text-uppercase mb-2">Plagiarism Finder</h1>
        <h2 class="font-weight-light mb-5">Find the Plagarized in your Documents</h2>
        </div>
        <div class="row">
            <div class="col-6">
        <h3>What is Plagiarism Finder?</h3>
                <h5>Plagiarism is an act of stealing of someone's work.</h5> 
                <h5>Plagiarism Finder is a plagiarism detection software</h5>
                <h5>By using Plagiarism Finder student will know if they are prone in plagiarism when doing their assignment or research.</h5>
                </div>
            <div class="col-6">
                <img  src="static/img/magni2.png" alt="">
            </div>
        </div>         
          <img style="position: absolute; left: 80;" src="static/img/man.png" alt="">
      </div>
    </header>
<section class="bg-secondary text-white">
    <div class="container" style="position: relative;">
    <div class="container" style="position: relative;">
        <div class="row">
            
            <div class="col-12">
                <h3 class="text-center mb-5">How to use Plagiarism Finder</h3>
</div>
            <div class="col-md-6 offset-md-1">
                <h5>1.</h5>
            <img src="../static/img/tutorial1.png" style="padding-bottom: 7%;">
    </div>
            <div class="col-md-6 offset-md-1">
                <h5>2.</h5>
            <img src="../static/img/tutorial2.png">
            </div>
            
            <div class="col-md-6 offset-md-1">
                <h5>3.</h5>
            <img src="../static/img/tutorial3.png">
    </div>
            
            <div class="col-md-6 offset-md-1">
                <h5>4.</h5>
            <img src="../static/img/tutorial4.png" style="padding-bottom: 7%;">
            </div>
            
            
            <div class="col-md-6 offset-md-1">
                <h5>5.</h5>
            <img src="../static/img/tutorial5.png">
        </div>
             <div class="col-md-6 offset-md-1">
                 <h5>6.</h5>
            <img src="../static/img/tutorial6.png">
            </div>

    </div>
    </div>
    </section>
  <!--end-->
    
    <!--About Section-->
<section class="bg-primary text-white text-center" id="about">
    <h2 class="mb-5">About Us</h2>
    <div class="container">
    <div class="row">
        <div class="col-12" style="padding-bottom: 30px;">
        <img src="../static/img/vince.png">
            <br>
            <h4>Vincent Jeremy Bravo</h4>
            <h5>Programmer</h5>
        </div>
        <div class="col-6 text-center">
        <img src="../static/img/ARES.png">
            <br>
            <h4>Joshua Ira San Ramon</h4>
            <h5>Web Designer</h5>
            <br>
        <img src="../static/img/silvio.png">
            <br>
            <h4>Marwell Silvio</h4>
                   <h5>Documentary</h5>
        </div>
                <div class="col-6 text-center">
        <img src="../static/img/chai.png">
                    <br>
                  <h4>Chairond Lauzon</h4>  
            <h5>System Analysis</h5>
            <br>
        <img src="../static/img/TALIGATO.png">
                    <br>
                    <h4>Elijah Taligato</h4>
                   <h5>Documentary</h5>
        </div>
        
        </div>
    </div>
    </section>
 {% endblock %}
 {% endblock %}
<!--End-->
  
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Plagiarism Finder-Thesis Project National College of Science and Technology 2018</small>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/freelancer.min.js"></script>

    <!-- Pie Chart Jqueary -->
    <script src="../https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/plugin.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/homejs.js"></script>
</body>
</html>
