{% extends 'lists.html' %}
{{ super() }}
{% block resultblock %}
{% if not docname and links %}
{% else %}

<div class="row">
    
    <div class="col-2" style="margin-left: 7%;">
    <center><h2 style="margin-bottom: 15%; font-size: 35px;">Result:</h2>
<div>
    
        <div id="test-circle" data-percent="{{per}}">></div><h6>Plagiarized Contents</h6
    <script>
    $( document ).ready(function() { // 6,32 5,38 2,34
        $("#test-circle").circliful({
            animation: 1,
            animationStep: 5,
            animateInView: true,
            foregroundBorderWidth: 15,
            backgroundBorderWidth: 15,
            percent: 38,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#666',
        });
    });
</script>
        </div>
</center>
    </div>
          <div class="links col-4" style="margin-left: 1.7%;">
              <h4>Website Links</h4>
              {% if not links %}
              <h6>Nothing found</h6>
              {% else %}
                <ol>
                {% for items in links %}
                <li><a href="{{items}}">{{items}}</a></li>
                {% endfor %}
                </ol>
              {% endif %}
            </div>

          <!---NCST DATABASE---->
            <div class="links col-4"  style="margin-left: 2%;">
                <h4>NCST Database links</h4>
                {% if not docname %}
              <h6>Nothing found</h6>
              {% else %}
            <dl>
                {% for name in docname %}
                    <dt>{{name}}</dt>
                {% for copied in copiedlines %}
                    <dd>{{copied}}</dd>
                {% endfor %}
                {% endfor %}
              {% endif %}
            </dl>
            </div>
{% endif %}
    <script src="../static/js/plugin.js"></script>
    <script src="../static/js/script.js"></script>
</div>
{% endblock %}
