{% extends 'lists.html' %}
{{ super() }}
{% block resultblock %}



<div class="row">
    
    <div class="col-2" style="margin-left: 7%;">
    <center><h2 style="margin-bottom: 15%;">Result:</h2>
<div>
    <h6>Plagiarized Contents</h6>
        <div class="my-progress-bar" data-percent=""></div>
    <script type="text/javascript">
        $(document).ready(function(){
            var progress_circle = $(".my-progress-bar").gmpc({
                percent:50
});
        }) </script>
        </div>
</center>
    </div>
          <div class="links col-4" style="margin-left: 1.7%;">
              <h4>Website Links</h4>
   
              <h6>Nothing found</h6>
     
                <ol>
 
                <li><a href=""></a></li>

                </ol>

            </div>

          <!---NCST DATABASE---->
            <div class="links col-4"  style="margin-left: 2%;">
                <h4>NCST Database links</h4>

              <h6>Nothing found</h6>

            <dl>

                    <dt></dt>
           
                    <dd></dd>

            </dl>
            </div>

</div>
{% endblock %}
