<!DOCTYPE html>
<html>
<title>Thesis Project - Plagiarism Finder</title>
<head>
{% block head %}
<link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--icon css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body id="page-top">
{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Plagiarism Finder</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"
            <li class="nav-item mx-0 mx-lg-1">
            	{% if call_or_get(current_user.is_authenticated) %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}</a>
                &nbsp; | &nbsp;
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
            	{% else %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
            	{% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
    <!-- Scan Grid Section -->
<section class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">

<div class="row">
    <div class="col-6">
{% block body %}
    <div class="files">
        <br>
        <!-- pag napindot ung premium na button may pop up -->
        <!-- sa loob ng popup nan dun ung description ng premium -->
        <!-- saka mga subscription -->
        <center><h5>Get Premium</h5></center>
        <br>
           <center> <h5>NOW!</h5></center>
            <hr width="90%">
        <button>Premium</button>
        </div>
    </div>
    <div class="col-6">
  <div class="file-wells col-12" id="upload_link">
      <table>
              <tr><center><i class="fa fa-folder-open" style="font-size:60px; padding-top: 10%;"></i></center></tr>
          <tr><center><h3 style="color: #333">Open</h3></center></tr>

        </table>
    </div>
  <div class="file-wells col-12" id="button0" style="margin-top: 8%;">
        <tr><center><i class="fa fa-pie-chart" style="font-size:60px; padding-top: 10%;"></i></center></tr>
        <tr><center><h3 style="color: #333">Scan file</h3></center></tr>
     </div>
    </div>
</div>

          </div>
		<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
          <input id="upload" type="file" name="files" accept=".docx"/>
		  <input type="submit" class="scan"/>
		</form>
          <div href="" class="file-well col-sm-8" id="upload_link1" style="margin-bottom: 2%; word-wrap: break-word;">
		 {% block items %}
            <table>
              <tr><center><i class="fa fa-cloud-upload" style="font-size:150px"></i></center></tr>
              <hr width="45%"/>
              <tr><center><h1 style="color: #D3D3D3">Upload a File to Scan</h1></center></tr>
		  </table>
		  {% endblock %}
          </div>
            <!--<div class="file-well col-sm-8" id="aaa" style="margin-bottom: 2%";>
            <h6>Dito ung pangalan ng file</h6>
                <h6>tas d2 sa baba ung link</h6>
        <div class="my-progress-bar" ></div>
    <script type="text/javascript">
        $(document).ready(function(){
            var progress_circle = $(".my-progress-bar").gmpc({
});
})-->
    </script>
	{% endblock %}
        </div>
    </div>

    </div>
    <div class="container">
    <ul>
        <li>
   <h6>This Project is for the use of NCST Research Faculty</h6>
            </li>
        </ul>
        </div>
    </section>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Plagiarism Finder-Thesis Project National College of Science and Technology 2018</small>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>

    <!-- Pie Chart Jqueary -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="static/js/plugin.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/homejs.js"></script>
</body>
</html>

