<!DOCTYPE html>
<html>
<title>Thesis Project - Plagiarism Finder</title>
<head>
{% block head %}
<link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--icon css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body id="page-top">
{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="static/img/ncst.png"> Plagiarism Finder</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
            	{% if call_or_get(current_user.is_authenticated) %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}</a>
              </li>
	    <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#scan">Scan</a>
            </li>
	    <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3" data-toggle="modal" data-target="#my" style="cursor: default;">LOGIN</a>
            </li>
	      <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
		{% else %}
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
            	{% endif %}
	      </li>
          </ul>
        </div>
      </div>
    </nav>	
{% endblock %}
	    <!--modal-->
    <!-- log in form--->
     <div class="modal fade" id="my" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
            <h4 class="modal-title">LOGIN</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-lg">
                <form class="login-form">
      <button id="mybtn" data-dismiss="modal"><b>LOGIN</b></button>
                    </form>
        </div>
   
      </div>
    </div>
  </div>
     <!-- end form--->
	
	<!-- header-->
	    <header class="masthead bg-primary text-white">
      <div class="container">
          <div class="text-center">
        <h1 class="text-uppercase mb-2">Plagiarism Finder</h1>
        <h2 class="font-weight-light mb-5">Find the Plagarized in your Documents</h2>
        </div>
        <div class="row">
            <div class="col-6">
        <h3>What is Plagiarism Finder?</h3>
                <h5>Plagiarism is an act of stealing of someone's work.</h5> 
                <h5>Plagiarism Finder is a plagiarism detection software</h5>
                <h5>By using Plagiarism Finder student will know if they are prone in plagiarism when doing their assignment or research.</h5>
                </div>
            <div class="col-6">
                <img  src="static/img/magni2.png" alt="">
            </div>
        </div>         
          <img style="position: absolute; left: 80;" src="static/img/man.png" alt="">
      </div>
    </header>
<section class="bg-secondary text-white">
    <div class="container" style="position: relative;">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-5">How to use Plagiarism Finder</h3>
</div>
            <div class="col-12">
                <img class="center" src="static/img/tutorial3.png">   
    </div>
            <div class="col-12">
                <h4 class="ttext">1.</h4>
            <h5 class="ttext">To able to scan your document.</h5>
		   <h5 class="ttext">First you need to choose the file you need to scan by clicking the "Open Button".</h5>
                <h5 class="ttext mb-5">(The open button will show the file explorer)</h5>
            </div>
            <div class="col-12">
                <img class="center" src="static/img/tutorial1.png">   
    </div>
            <div class="col-12">
                <h4 class="ttext">2.</h4>
            <h5 class="ttext">After clicking the "Open Button".</h5>
                <h5 class="ttext mb-5">Choose the file that you want to scan, then hit enter or click the "Open Button".</h5>
            </div>
            <div class="col-12">
                <img class="center" src="static/img/tutorial2.png">   
        </div>
             <div class="col-12">
                                 <h4 class="ttext">3.</h4>
            <h5 class="ttext">After choosing the file you desire to scan</h5>
                <h5 class="ttext mb-5">Click the "Scan Button", to start the Scanning proccess and wait for the result</h5>
            </div>


    </div>
    </div>
    </section>
	<!--end-->
	
    <!-- Scan Grid Section -->
<section class="masthead" id="scan">
      <div class="container">
	      {% block body %}
	      <h2 id="space" class="text-center">Scan</h2>
        <div class="row">
          <div class="col-sm-4">

<div class="row">
    <div class="col-6">
    <div class="files">
        <br>
        <!-- pag napindot ung premium na button may pop up -->
        <!-- sa loob ng popup nan dun ung description ng premium -->
        <!-- saka mga subscription -->
        <center><h5>Get Premium</h5></center>
        <br>
           <center> <h5>NOW!</h5></center>
            <hr width="90%">
        <button data-toggle="modal" data-target="#myModal">Premium</button>
	            <!-- modal box-->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
            <h4 class="modal-title">Get Premium Subscriptions</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-lg">
          <h5>Select your preferred payment</h5>
            <form>
                <div class="row">
                    <div class="col-lg-6">
            <label for="m">Monthly Subscription</label><br>
            <input type="button" id="m" value="aaaa" style="display: inline-block;"><br><br><br>
            <label for="a">Monthly Subscription</label><br>
            <input type="button" id="a" value="aaaa" style="display: inline-block;"><br>
</div>
                    <div class="col-lg-6">
            <label for="m">Monthly Subscription</label><br>
            <input type="button" id="m" value="aaaa" style="display: inline-block;"><br><br><br>
            <label for="a">Monthly Subscription</label><br>
            <input type="button" id="a" value="aaaa" style="display: inline-block;">
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer modal-lg">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
        </div>
    </div>
    <div class="col-6">
  <div class="file-wells col-12" id="upload_link">
      <table>
              <tr><center><i class="fa fa-folder-open" style="font-size:60px; padding-top: 10%;"></i></center></tr>
          <tr><center><h3 style="color: #333">Open</h3></center></tr>

        </table>
    </div>
  <div class="file-wells col-12" id="button0" style="margin-top: 8%;">
        <tr><center><i class="fa fa-pie-chart" style="font-size:60px; padding-top: 10%;"></i></center></tr>
        <tr><center><h3 style="color: #333">Scan file</h3></center></tr>
     </div>
    </div>
</div>

          </div>
		<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
          <input id="upload" type="file" name="files" accept=".docx"/>
		  <input type="submit" class="scan"/>
		</form>
          <div href="" class="file-well col-sm-8" id="upload_link1" style="margin-bottom: 2%; word-wrap: break-word;">
		 {% block items %}
            <table>
              <tr><center><i class="fa fa-cloud-upload" style="font-size:150px"></i></center></tr>
              <hr width="45%"/>
              <tr><center><h1 style="color: #D3D3D3">Upload a File to Scan</h1></center></tr>
		  </table>
		  {% endblock %}
          </div>
            <!--<div class="file-well col-sm-8" id="aaa" style="margin-bottom: 2%";>
            <h6>Dito ung pangalan ng file</h6>
                <h6>tas d2 sa baba ung link</h6>
        <div class="my-progress-bar" ></div>
    <script type="text/javascript">
        $(document).ready(function(){
            var progress_circle = $(".my-progress-bar").gmpc({
});
})
    </script>-->
	{% endblock %}
        </div>
    </div>

    </div>
<br>
    </section>
	
    <!--About Section-->
<section class="bg-primary text-white text-center" id="about">
    <h2 class="mb-5">About Us</h2>
    <div class="container">
    <div class="row">
        <div class="col-12" style="padding-bottom: 30px;">
        <img src="static/img/vince.png">
            <br>
            <h4>Vincent Jeremy Bravo</h4>
            <h5>Programmer</h5>
        </div>
        <div class="col-6 text-center">
        <img src="static/img/ARES.png">
            <br>
            <h4>Joshua Ira San Ramon</h4>
            <h5>Web Designer</h5>
            <br>
        <img src="static/img/silvio.png">
            <br>
            <h4>Marwell Silvio</h4>
                   <h5>Documentary</h5>
        </div>
                <div class="col-6 text-center">
        <img src="static/img/chai.png">
                    <br>
                  <h4>Chairond Lauzon</h4>  
            <h5>System Analysis</h5>
            <br>
        <img src="static/img/TALIGATO.png">
                    <br>
                    <h4>Elijah Taligato</h4>
                   <h5>Documentary</h5>
        </div>
        
        </div>
    </div>
    </section>
<!--End-->
	
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Plagiarism Finder-Thesis Project National College of Science and Technology 2018</small>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>

    <!-- Pie Chart Jqueary -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="static/js/plugin.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/homejs.js"></script>
</body>
</html>
