{% extends 'base.html' %}
{{ super() }}
{% block body %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for ( 'index' ) }}"><img src="../static/img/logo1.png" style="width: 48px; height: 48px;"> PLAGIARISM FINDER</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a href="{{url_for('listahan')}}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">{{ current_user.username or current_user.email }}</a>
              </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for ( 'index' ) }}">Home</a>
            </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for ( 'testpage' ) }}">Scan</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}" style="cursor: default; color:#fff">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Scan Grid Section -->
<section class="masthead">
    <div class="container">
    <div class="masthead">
        <h1>Result:</h1>
        <div id="box-container">
            <div id="scroll-container">
                {% for list in results %}
                <a href = {{ url_for('finalized', pathname = list.id) }}><p  style="color: #333;">Result No.: {{loop.index}}</p></a>
                {% endfor %}
            </div>
<div class="row">
  
    
    <div class="col-2" style="margin-left: 7%;">
    <center><h2 style="margin-bottom: 15%;">Result:</h2>
<div>
    <h6>Plagiarized Contents</h6>
        <div id="test-circle" data-percent={{per}}></div>
<script>
    $( document ).ready(function() { // 6,32 5,38 2,34
        $("#test-circle").circliful({
            animation: 1,
            animationStep: 5,
            animateInView: true,
            foregroundBorderWidth: 15,
            backgroundBorderWidth: 15,
            percent: 38,
            textSize: 28,
            textStyle: 'font-size: 12px;',
            textColor: '#666',
        });
    });
</script>
        </div>
</center>
    </div>
          <div class="links col-4" style="margin-left: 1.7%;">
              <h4>Website Links</h4>
              {% if not links %}
              <h6>Nothing found</h6>
              {% else %}
                <ol>
                {% for items in links %}
                <li><a href="{{items}}">{{items}}</a></li>
                {% endfor %}
                </ol>
              {% endif %}
            </div>

          <!---NCST DATABASE---->
            <div class="links col-4"  style="margin-left: 2%;">
                <h4>NCST Database links</h4>
                {% if not docname %}
              <h6>Nothing found</h6>
              {% else %}
            <dl>
                {% for name in docname %}
                    <dt>{{name}}</dt>
                {% for copied in copiedlines %}
                    <dd>{{copied}}</dd>
                {% endfor %}
                {% endfor %}
              {% endif %}
            </dl>
            </div>
{% endif %}
   
</div>
        </div>       
    </div>
    </div>
</section>
{% endblock %}

