{% extends 'base.html' %}
{{ super() }}
{% block modalform %}
      <!--modal-->
    <!-- log in form--->
     <div class="modal fade" id="login" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">LOGIN</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

  <div class="modalform"> 
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<form action="{{ url_for('user.login') }}" method="POST" class="form" role="form">
    {{ login_form.hidden_tag() }}
      
    {# Username or Email #}
      {% set field = login_form.username if user_manager.USER_ENABLE_USERNAME else login_form.email %}
    {{ render_field(field, tabindex=110) }}
      
    {# Password #}
     {{ render_field(login_form.password, tabindex=120) }}
     {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
        
            <a data-dismiss="modal" data-toggle="modal" href="#forgot" class="cursor">
            {%trans%}Forgot your Password?{%endtrans%}</a>
    {% endif %}
    {% if user_manager.USER_ENABLE_REMEMBER_ME %}
    {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
    {% endif %}

    {# Submit button #}
    <input type="submit" value="LOGIN" class="submit">
    <button id="mybtn" data-dismiss="modal" data-toggle="modal" href="#register" class="cursor">Sign up</button>
</form>
        </div>
    </div>
      </div>
    </div>
  </div>
     <!-- end form--->
  
   <!-- register form-->
         <div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">REGISTER</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<div class="modalform">
<form action="{{ url_for('user.register') }}" method="POST" novalidate formnovalidate class="form" role="form">
    {{ register_form.hidden_tag() }}

    {# Username or Email #}
    {% set field = register_form.username if user_manager.USER_ENABLE_USERNAME else register_form.email %}
    {{ render_field(field, tabindex=210) }}

    {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        {{ render_field(register_form.email, tabindex=220) }}
    {% endif %}

    {{ render_field(register_form.password, tabindex=230) }}

    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
        {{ render_field(register_form.retype_password, tabindex=240) }}
    {% endif %}

    <input type="submit" value="Register" class="submit">
      <a data-dismiss="modal" data-toggle="modal" href="#login" class="cursor">Already Registerd?</a>
</form>

</div>
</div>
         </div>
  
        </div>
        </div>
      </div>
    </div>
<!--end form-->
    
    <!--forgot password form-->
    <div class="modal fade" id="forgot" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">FORGOT PASSWORD</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
<div class="modalform">
<form action="{{ url_for('user.forgot_password') }}" method="POST" class="form" role="form">
    <a data-dismiss="modal" data-toggle="modal" href="#login" class="cursor"><-- Back to Login</a>
    {{ form.hidden_tag() }}
    {{ render_field(form.email, tabindex=10) }}
    <input type="submit" value="SEND" class="submit">
</form>
         </div>
  
        </div>
        </div>
      </div>
    </div>
    <!--end form-->
{% endblock %}
