{% extends "index.html" %}
{% block title %}NCST-PLAGFINDER{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block items %}
    <!-- container body --> 
    <!-- ########################################################################################## -->
{% if not output  %}
  <li>The document submitted is apparent free from any plagiarized content!</li>
</ul>
{% else %}
  <h3 style="margin-top: 0px;">Copied Content Found:</h3><br>
<ul class="Helvetica" style="font-size: 12px; text-align: left;">
  {% for cp in output %}
  <li>{{ cp }} </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
