<!DOCTYPE html>
<html>
<title>Thesis Project - Plagiarism Finder</title>
<head>
<link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <link rel="icon" href="../static/img/icon.JPG">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--icon css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/css/jquery.circliful.css">
    <link rel="stylesheet" href="../../static/css/material-design-iconic-font.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body id="page-top" style="overflow-x: hidden">
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for ( 'index' ) }}"><img src="../static/img/logo1.png" style="width: 48px; height: 48px;"> PLAGIARISM FINDER</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a href="{{url_for('listahan')}}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">{{ current_user.username or current_user.email }}</a>
              </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for ( 'index' ) }}">Home</a>
            </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#scan">Scan</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}" style="cursor: default; color:#fff">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Scan Grid Section -->
<section class="masthead" id="scan">
      <div class="container">
          <h2 id="space" class="text-center">Scan</h2>
        <div class="row">
            
            <div class="col-12">
                <form method=POST enctype=multipart/form-data action="{{ url_for('testpage') }}">
                <div class="row">
                <input id="upload" type="file" name="files" accept=".docx"/>
  <div class="file-wells col-2" id="upload_link">
      <table>
              <tr><center><i class="fa fa-folder-open" style="font-size:60px;"></i></center></tr>
          <tr><center><h3 style="color: #333">Open</h3></center></tr>

        </table>
    </div>
        <input id="display1" type="submit"/> 
   
        <div class="file-wells col-2" id="upload_link3">
        <tr><center><i class="fa fa-pie-chart" style="font-size:60px;"></i></center></tr>
        <tr><center><h3 style="color: #333">Post file</h3></center></tr>
     </div> 
               </form>
                    
       </div>
                

  
             </div>
        </div>

    </div>
  </div>

          <div href="" class="file-well col-12" id="upload_link1" style="margin-top:5%";>
            <form method="post">
              {{ form.csrf_token }}
              {{ form.body }}
              <input type="submit" value="SUBMIT" class="submit" />
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body', allowedContent = true) }}
            <script>
            CKEDITOR.instances.body.setData( {{ content|tojson }} );
            </script>
          </div>
          </div>
        </div>
    
    </div>
    </div>
    </section>
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Plagiarism Finder-Thesis Project National College of Science and Technology 2018</small>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../static/js/jqBootstrapValidation.js"></script>
    <script src="../../static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../static/js/freelancer.min.js"></script>

    <!-- Pie Chart Jqueary -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.circliful.js"></script>
    <script src="../../static/js/homejs.js"></script>
</body>
</html>


