{% extends 'base.html' %}
{{ super() }}
{% block body %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../static/img/ncst.png"> PLAGIARISM FINDER</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for ( 'index' ) }}">Home</a>
            </li>
                          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#scan">Scan</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('user.logout') }}" style="cursor: default; color:#fff">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Scan Grid Section -->
<section class="masthead" id="scan">
      <div class="container">
          <h2 id="space" class="text-center">Scan</h2>
        <div class="row">
  <input id="upload" type="file"/>
  <div class="file-wells col-2" id="upload_link">
      <table>
              <tr><center><i class="fa fa-folder-open" style="font-size:60px;"></i></center></tr>
          <tr><center><h3 style="color: #333">Open</h3></center></tr>

        </table>
    </div>

  <div class="file-wells col-2" id="button0">
        <tr><center><i class="fa fa-pie-chart" style="font-size:60px;"></i></center></tr>
        <tr><center><h3 style="color: #333">Scan file</h3></center></tr>
     </div>

            <!--premium-->
  <input id="display" type="button" data-toggle="modal" data-target="#myModal"/>
  <div class="col-md-3 offset-md-3" id="upload_link2">
      <h4 class="text-center" style="cursor: default; margin-top: 8%;">Get Premium!</h4>
      <h4 class="text-center" style="cursor: default">Click Here</h4>
    </div>


        <!-- modal box-->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
            <h4 class="modal-title">Get Premium Subscriptions</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-lg">
          <h5>Select your preferred payment</h5>
            <form id="premium">
                <div class="row">
                    <div class="col-lg-6">
            <label for="m"><b>Monthly Subscription</b></label><br>
            <input type="button" id="m" value="PHP 175.00" style="display: inline-block;"><br><br><br>
            <label for="a"><b>Quarterly Subscription</b></label><br>
            <input type="button" id="a" value="PHP 446.00" style="display: inline-block;"><br>
</div>
                    <div class="col-lg-6">
            <label for="c"><b>Semi-Annual Subscription</b></label><br>
            <input type="button" id="c" value="PHP 735.00" style="display: inline-block;"><br><br><br>
            <label for="x"><b>Annually Subscription</b></label><br>
            <input type="button" id="x" value="PHP 1,260.00" style="display: inline-block;">
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer modal-lg">
          <button class="btn btn-default" data-dismiss="modal" style="background-color: white; border: 1px solid;">Close</button>
        </div>
      </div>

    </div>
  </div>

          <input id="upload" type="file"/>
          <div href="" class="file-well col-12" id="upload_link1" style="margin-top:5%";>
            <form method="post">
              {{ form.csrf_token }}
              {{ form.body }}
              {{ form.submit }}
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body', allowedContent = true) }}
            <script>
            CKEDITOR.instances.body.setData( {{ content|tojson }} );
            </script>
          </div>
          </div>
        </div>
    
    </div>


<div class="row">
                  <!---WEBSITE LINK---->
    
          <div class="links col-5" style="margin-left: 8%;">
                <ol>
                {% for items in links %}
                <li><a href="{{items}}">{{items}}</a></li>
                {% endfor %}
                </ol>
            </div>

          <!---NCST DATABASE---->
            <div class="links col-5"  style="margin-left: 5%;">
            <dl>
                {% for name in docname %}
                    <dt>{{name}}</dt>
                {% for copied in copiedlines %}
                    <dd>{{copied}}</dd>
                {% endfor %}
                {% endfor %}
            </dl>
            </div>
</div>


    </div>
    </section>
{% endblock %}

