
{% extends 'base.html' %}
{{ super() }}
{% block body %}
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../static/img/logo1.png" style="width: 48px; height: 48px;"> Plagiarism Finder</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
     
        </div>
      </div>
    </nav>
    </nav>
    <header class="masthead text-white">
      <div class="container">
          <div class="text-center" style="color: #1c1c1c; font-size: 10px;">
        <h1 class="text-uppercase mb-2">Terms & Conditions</h1>
        </div>     
      </div>
    </header>

 <section class="text-center" id="about" style="color: #1c1c1c;">
    <div class="container">
    <div class="row">
        <div class="col-12" style="padding-bottom: 100px;">
            <h6>This software is dedicated for the research of the National College of Science and Technology.  Any reproduction of this software without the any consultation of the developers is forbidden.</h6>
            <h6>The users are not allowed to put any software, malware or viruses that can harm the software functionality.</h6>
            <h6>Customizing interfaces should have authorization of the developers. Selling this software without asking the developers is forbidden, contact the developers as well as the College Department for commercializing the software.</h6>
            <h6>Violators will be given legal sanctions and their accounts will be indefinitely disabled..</h6>
        </div>
        </div>
    </div>
    </section>
{% block modalform %}
{% endblock %}
{% endblock %}
